body {
  background-color: rgb(245, 245, 245);
}
.panel {
  border-width: 2px !important;
}

.fixed-panel {
  min-height: 600px;
}

.col-padding-left {
  padding-left: 28px;
}

.security-entry {
  position: relative;
  margin-bottom: 3px;
  padding: 0 6px 0 6px;
  clear: both;
  border: 2px solid red;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  }

div.inline {
  float: right;
  margin-left: 8px;
}
