<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="newComment" class="col-md-2 control-label">Comment</label>
          <div class="col-md-7">
            <input type="text" class="form-control input-sm" id="newComment">
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </h3>
  </div>
  <table class="table table-condensed">
    <tr>
      <td class="date">MM-DD-YYYY HH:MM:SS</td>
      <td>Verifying Yield</td>
    </tr>
    <tr>
      <td class="date">MM-DD-YYYY HH:MM:SS</td>
      <td>Assigned to A123456</td>
    </tr>
    <tr>
      <td class="date">MM-DD-YYYY HH:MM:SS</td>
      <td>Imported from Request ID XXXX-MM-DD</td>
    </tr>
  </table>
</div>