div.row {
    margin-bottom: 20px;
}

h1 {
    margin-top: 6px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

h4 {
    color: #ff0000;
}

img {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.component {
    margin-top: 20px;
}

.dropdown-label {
    padding-left: 3px;
    color:#666; 
}



.btn.outline {
	background: none;
	/*padding: 12px 22px;*/
}

.btn-primary.outline {
	border: 1px solid lightslategrey;
    border-radius: 3px;
	color: lightslategrey;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: lightslategreyc;
	border-color: lightslategrey;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: lightslategrey;
	color: lightslategrey;
	box-shadow: none;
}