div.row {
    margin-bottom: 20px;
}

h2 {
    margin-top: 4px;
}

h4 {
    color: #ff0000;
}

img {
  width: 16px;
  height: 16px;
}

.component {
    margin-top: 20px;
}
/*
ul.dropdown-menu { 
    background-color: #CECBCE;
}*/

button:hover {
    background-color: lightgray;
}