<div *ngIf="cusip">
    <div class="container timeline-position">
        <div class="row ">
            <div class="col-md-6">
                <app-timeline
                    [moments]="timelineMoments"
                >
                </app-timeline>
            </div>
            <div class="col-md-6">
                <app-cusip-workflow-commands 
                    [workflow]="currentWorkflow"
                    (onSelect)="onSetupTransitionChange($event)">
                </app-cusip-workflow-commands>
            </div>
        </div>
    </div>

    <div class="row" id="panels-position">
        <div class="col-xs-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <div class="panel-body"> 
                    <div class="row">
                        <div class="col-xs-5">
                            <h5>Request Type</h5>
                        </div>
                        <div class="col-xs-7 text-right">
                            <div class="btn-group">
                                <button type="button" id="requestType" class="btn btn-sm btn-primary dropdown-toggle outline" data-toggle="dropdown">
                                    <img src="../../../../assets/img/Icon-Graph.png" alt="trading"/>
                                    <label class="dropdown-label"> 
                                        Trade Related
                                    </label>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Trade Related<span class="pull-right"><img src="../../../../assets/img/Icon-Graph.png" alt="trading"/></span></a>
                                    </li>
                                    <li>
                                        <a href="#">Unclassified<span class="pull-right"><img src="../../../../assets/img/Icon-QuestionMark.png" alt="Unclassified"/></span></a>
                                    </li>
                                    <li>
                                        <a href="#">Non-Trading<span class="pull-right"><img src="../../../../assets/img/Icon-MinusSign.png" alt="non-trading"/></span></a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#">Maintenance<span class="pull-right"><img src="../../../../assets/img/Icon-Maint.png" alt="non-trading"/></span></a>
                                    </li>
                                    <li>
                                        <a href="#">Inquiry Only<span class="pull-right"><img src="../../../../assets/img/Icon-Mag.png" alt="non-trading"/></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <h5>Security Type</h5>
                        </div>
                        <div class="col-xs-7 text-right">
                            <div class="btn-group">
                                <button type="button" id="securityType" class="btn btn-sm btn-primary dropdown-toggle outline" data-toggle="dropdown">  
                                    <img src="../../../../assets/img/stats-bars.png" alt="equity"/>                      
                                    <label class="dropdown-label">
                                        Equity
                                    </label> 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Equity<span class="pull-right"><img src="../../../../assets/img/stats-bars.png" alt="equity"/></span></a>
                                    </li>
                                    <li>
                                        <a href="#">Muni<span class="pull-right"><img src="../../../../assets/img/ic_account_balance_black_36dp_2x.png" alt="muni"/></span></a>
                                    </li>
                                    <li>
                                        <a href="#">Corp<span class="pull-right"><img src="../../../../assets/img/004-office.png" alt="corp"/></span></a>
                                    </li>
                                    <li>
                                        <a href="#">UIT<span class="pull-right"><img src="../../../../assets/img/ic_repeat_black_48dp_1x.png" alt="uit"/></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>                                    
                    </div>     
                    <div class="row">
                        <div class="col-xs-6">
                            <h5>Security Number</h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <label>
                                <input type="checkbox" value="" disabled/>    
                                Trace/MSRB
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="securityNumber"/>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Symbol</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="symbol"/>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Description</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="description1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 text-center">
                            <h6>Alpha1</h6>
                        </div>
                        <div class="col-xs-2 text-center">
                            <h6>Alpha2</h6>
                        </div> 
                        <div class="col-xs-2 text-center">
                            <h6>Alpha3</h6>
                        </div> 
                        <div class="col-xs-2 text-center">
                            <h6>Alpha4</h6>
                        </div>
                        <div class="col-xs-2 text-center">
                            <h6>Alpha5</h6>
                        </div> 
                    </div>
                    <div class="row"> 
                        <div class="col-xs-2">
                            <input type="text" class="form-control" id="alpha1"/>
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" id="alpha2"/>
                        </div> 
                        <div class="col-xs-2">
                            <input type="text" class="form-control" id="alpha3"/>
                        </div> 
                        <div class="col-xs-2">
                            <input type="text" class="form-control" id="alpha4"/>
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" id="alpha5"/>
                        </div> 
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-8">
                            <h5 class="text-right">Save changes?</h5>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-sm btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-7">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activity</a></li>
                    <li role="presentation"><a href="#email" aria-controls="email" role="tab" data-toggle="tab">Email</a></li>
                    <li role="presentation"><a href="#screenshots" aria-controls="screenshots" role="tab" data-toggle="tab">Screenshots</a></li>
                    <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="activity"> 
                        <app-activity></app-activity>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="email">
                        <app-email></app-email>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="screenshots">...</div>
                    <div role="tabpanel" class="tab-pane" id="files">...</div>
                </div>
            </div>  
        </div>    
    </div>   
</div>