.col-xs-5 {
    padding-right: 5px;
}

.col-xs-7 {
    padding-left: 10px;
}

#panel-margin {
    margin-top: 66px;
}

div.timeline-position {
    margin-left: 40px;
}

img {
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
}

p.position { 
    margin-bottom: 0;
    padding-top: 8px;
}

/*-- dropdown buttons --*/

.dropdown-label {
    padding-left: 3px;
    color:rgb( 51, 51, 51); 
    margin-bottom: 0;
}

.btn.outline {
	background: none;
}

.btn-primary.outline {
	border: 1px solid lightslategrey;
    border-radius: 3px;
	color: lightslategrey;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	background-color: lightgrey;
    color: black;
	border-color: black;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: black;
	box-shadow: none;
}

/* -- end dropdown buttons --*/

.checkbox-label {
    font-weight: bold !important;
}

/* tab color */
.nav-tabs>li>a {
    color: #000;
    background-color: #d9edf7;
    border-color: lightskyblue;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

/* hover tab color */
.nav-tabs>li>a:hover {
    background-color: lightskyblue;
    border-color: lightblue;
}

.tab-content{  
    border: 1px solid #337ab7;
    border-radius: 0 3px 3px 3px;
}

.carousel-indicators .active {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 1px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: yellow;
}