<div>
  <label>Add Cusip:</label> <input #newSetupRequest placeholder="Cusip"/>
  <button (click)="addCusip(newSetupRequest.value); newSetupRequest.value=''">
    Add
  </button>
</div>

<div *ngIf="wip && wip.cusips">
  <app-cusip-card 
    *ngFor="let cusip of wip.cusips" 
    [cusip]="cusip"
    (onShowDetail)="showCusipDetail($event)">
  </app-cusip-card>
</div>

<div *ngIf="selectedCusip">
  <div class="modal">
      <span class="modal-cusip text-uppercase">{{selectedCusip.name}}</span>
      <span class="modal-elapsed">
        <span>Elapsed:</span>
        <span id="elapsedTime">7:38</span>
      </span>
      <button type="button" class="modal-close close pull-right" aria-label="Close" data-dismiss="modal" (click)="closeSelectedCusipDetail()" >
          <span aria-hidden="true">&times;</span>
      </button>

    <div id="elapsedTimeAlert">This is an alert.</div>

    <div class="modal-body">
      <app-cusip-detail
        [cusipId] = "selectedCusip.id"
        (onClose) = "closeSelectedCusipDetail()"
      >
      </app-cusip-detail>
    </div>
  </div>
  <div class="modal-overlay" (click)="closeSelectedCusipDetail()">
  </div>
</div>