<div>
  <label>Add Cusip:</label> <input #newSetupRequest placeholder="Cusip"/>
  <button (click)="addCusip(newSetupRequest.value); newSetupRequest.value=''">
    Add
  </button>
</div>

<div *ngIf="wip && wip.cusips">
  <app-cusip-card 
    *ngFor="let cusip of wip.cusips" 
    [cusip]="cusip"
    (onShowDetail)="showCusipDetail($event)">
  </app-cusip-card>
</div>

<div *ngIf="selectedCusip">
  <div class="modal">
    <span style="width: 100%;">
      <h2>{{selectedCusip.name}}
        <h3 class="pull-right" style="margin-top: 4px; margin-left: 30px;">Elapsed: 
          <h3  class="pull-right" style="margin-top: 1px; margin-left: 3px;">7:38</h3>
        </h3>
      </h2> 
    </span>
    <div id="elapsedTimeAlert">This is an alert.</div>
    <div class="modal-body">
      <app-cusip-detail
        [cusipId] = "selectedCusip.id"
        (onClose) = "closeSelectedCusipDetail()"
      >
      </app-cusip-detail>
    </div>
  </div>
  <div class="modal-overlay" (click)="closeSelectedCusipDetail()">
</div>