<!-- need to come back to this, disabling for now
<div *ngIf="workQueueGroups">
  <div class="dropdown">
    <label>Current Work Group:</label>
    <button class="btn btn-default dropdown-toggle" type="button" id="workGroupMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{selectedWorkQueueGroup.name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="workGroupMenu">
      <li *ngFor="let workQueueGroup of workQueueGroups">
        <a (click)="setSelectedWorkQueueGroup(workQueueGroup)">{{workQueueGroup.name}}</a>     
      </li>
    </ul>
  </div>
</div>
-->

<div>
  <label>Add Cusip:</label> <input #newSetupRequest placeholder="Cusip"/>
  <button (click)="addRequest(newSetupRequest.value); newSetupRequest.value=''">
    Add
  </button>
</div>

<div *ngIf="cusips">
  <app-cusip-card 
    *ngFor="let cusip of cusips" 
    [cusip]="cusip"
    (onShowDetail)="showCusipDetail($event)">
  </app-cusip-card>
</div>

<div *ngIf="selectedCusip">
  <app-cusip-detail
    [cusipId] = "selectedCusip.id"
    (onClose) = "closeSelectedCusipDetail()"
  >
  </app-cusip-detail>
</div>