nav {
    background-color: #d9edf7;;
}

.page-header {
    margin-bottom: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    /*right: 20%;
    left: 20%;    */
    height: 60px;
    color: #999;
    text-align: center;
    background-color: #d9edf7;;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
}

.container {
    /*width: auto;
    max-width: 680px;*/
    padding: 0 15px;
}