<div class="container">
    <div class="row">
        <!-- Cards -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-action">
                    <span style="font-size: medium; font-weight: bold; padding-left:5px;">
                      <a (click)="showDetail()">{{cusip.name}}</a>
                      <span class="icons">
                        <img src="../../../../assets/img/Icon-Graph.png" alt="trading" title="Trade Related"/>  
                      </span>
                      <span class="icons">
                        <img src="../../../../assets/img/stats-bars.png" alt="equity" title="Equity"/>
                      </span>
                      <span class="icons">
                        <i class="glyphicon glyphicon-envelope" title="Email"></i>
                      </span>
                    </span>
                    <button type="button" class="close" aria-label="Close">
                        <span style="vertical-align: top;" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-content">
                    <!--<div class="text-center">
                        <span class="icons">
                          <img src="../../../../assets/img/Icon-Graph.png" alt="trading" title="Trade Related"/>  
                        </span>
                        <span class="icons">
                          <img src="../../../../assets/img/stats-bars.png" alt="equity" title="Equity"/>
                        </span>
                        <span class="icons">
                          <i class="glyphicon glyphicon-envelope" title="Email"></i>
                        </span>
                    </div>-->
                    <div>
                        <table>
                            <tr>
                                <td style="padding-left:5px;">Submitted:</td>
                                <td id="timeSubmitted" style="padding-left:10px;">
                                  <span id="timeSubmitted">{{getAddedDateString()}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:5px;">Elapsed:</td>
                                <td id="timeElapsed" style="padding-left:10px;">0:23</td>
                            </tr>
                        </table>
                    </div>
                </div>                
                <div class="card-action">
                    <h5 class="text-center"><a>Own it!</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>