.timeline-container {
  height: 136px;
}

.timeline {
  height: 20px;
  margin-top: 5%;
  background: rgba(252,236,252,1);
  background: -webkit-linear-gradient(left, orange, orange 20%, red 20%, black);
}

div.stage {
  z-index: 99;
  transition : 0.3s ease-in-out;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  text-align: center;
  border: 1px solid #d0cfcf;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 2px 3px 8px 0 rgba(50, 50, 50, 0.5);
}

div.stage:nth-child(1) {
  left: 8%;
  background-color: rgb(174, 213, 129);
}
div.stage:nth-child(2) {
  left: 20%;
  background-color: rgb(255, 224, 130);
}
div.stage:nth-child(3) {
  left: 33%;
  background-color: rgb(144, 202, 249);
}
div:nth-child(4) {
  left: 46%;
  background-color: #fff;
}
div:nth-child(5) {
  left: 59%;
  background-color: #fff;
}
div:nth-child(6) {
  left: 72%;
  background-color: #fff;
}
div:nth-child(7) {
  left: 85%;
  background-color: #fff;
}

#title1, #title2, #title3, #title4, #title5, #title6, #title7 {
  margin-top: -20px;
}

span {
  display: inline-block;
  margin-top: 6px;
  width: 66px;
  height: 66px;
  position: relative;
  border-radius: 50%;
  border-color: rgba(63, 55, 57, 0.5);;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  box-shadow: -1px -1px 28px -1px rgba(50, 50, 50, 0.5);
}

stageValue {
  font-family: roboto;
  font-size: 2.1rem;
  display: block;
  position: relative;
  top: -68%;
  text-align: center;
}