
.timeline {
  width: 90%; 
  height: 10px;
  margin-top: 20px;
  background: -webkit-linear-gradient(left, green, green 36%, #d0cfcf 36%, #d0cfcf);
}

div.stage {
  z-index: 99;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  border: 0 solid #d0cfcf;
  border-radius: 50%;
  /* original
  -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 2px 3px 8px 0 rgba(50, 50, 50, 0.5);*/

  -webkit-box-shadow: inset 0px 0px 0 5px rgba(63, 55, 57,0.1);
  -moz-box-shadow: inset 0px 0px 0 5px rgba(63, 55, 57,0.1);
  box-shadow: inset 0px 0px 0 5px rgba(63, 55, 57,0.1);
}

span {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 5px;
  padding-top: 10px;
  margin-bottom: 5px;
  border-radius: 50%;
  border-color: rgba(63, 55, 57, 0.5);

  /*-webkit-box-shadow: inset -1px -1px 25px 1px rgba(63, 55, 57,0.8);
  -moz-box-shadow: inset -1px -1px 25px 1px rgba(63, 55, 57,0.8);
  box-shadow: inset -1px -1px 25px 1px rgba(63, 55, 57,0.8);*/

  /*-webkit-box-shadow: -3px -1px 25px 1px rgba(63, 55, 57,0.8);
  -moz-box-shadow: -3px -1px 25px 1px rgba(63, 55, 57,0.8);
  box-shadow: -3px -1px 25px 1px rgba(63, 55, 57,0.8);*/

  /* original*/
  -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  box-shadow: -1px -1px 28px -1px rgba(50, 50, 50, 0.5);
}

div.active {
  background-color: orange;
}

div.complete {
  background-color: green;
}

div.danger {
  background-color: red;
}

div.disabled {
  background-color: #d0cfcf;
}

/*
div.stage:nth-child(1) {
  left: 0;
  background-color: green;
}
div.stage:nth-child(2) {
  left: 14.285%;
  background-color: green;
}
div.stage:nth-child(3) {
  left: 28.57%;
  background-color: orange;
}
div:nth-child(4) {
  left: 42.856%;
  background-color: #d0cfcf;
}
div:nth-child(5) {
  left: 57.14%;
  background-color: #d0cfcf;
}
div:nth-child(6) {
  left: 71.42%;
  background-color: #d0cfcf;
}
div:nth-child(7) {
  left: 85.71%;
  background-color: #d0cfcf;
}
*/

.stageValue {
  /*top: -68%;*/
  display: block;
  position: relative;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2rem;
  color: white;
}

.stageFont {
  font-size: 11px;
}