<div *ngIf="workflow">    
    <div class="btn-group">
        <button
            *ngIf="previous" 
            type="button"
            id="previous-button"
            class="btn btn-sm"
            (click)="select(previous)"
        >
            {{previous.text}}
        </button>
        <button
            *ngIf="next" 
            type="button"
            id="primary-button"
            class="btn btn-sm btn-primary"
            (click)="select(next)"
        >
            {{next.text}}
        </button> 
    </div>
    <!--<div>
        Current Status: {{getCurrentStatusText()}}
    </div>-->
</div>