div.btn-group {
    margin-top: 10px;
}

#previous-button {
    font-weight: bold;
    color: white;
    background-color: darkred;
}

#previous-button:hover {
    font-weight: bold;
    color: darkred;
    background-color: white;
    border: solid 1px darkred;
    border-radius: 3px 0 0 5px;
}