<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="glyphicon glyphicon-envelope"></i>
      <span id="emailId" style="padding-left: 10px;"><a>0001-01-06</a></span>
      <div class="form-inline pull-right">
        <span><i><b>Received:</b></i></span>
        <span id="dateReceived"><i>1/6/2017 2:47pm</i></span>
      </div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-inline">
          <span><b>Subject:</b></span>
          <span id="subject">subject of email</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">        
        <div class="form-inline">
          <span><b>From:</b></span>
          <span id="from">Office of Submission</span>
          <span id="emailAddress">[<a>user@test.com</a>]</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span><b>Phone:</b> </span>
        <span id="phone">(123) 456-7890</span>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-xs-12">
        <span>Additional Cusip(s) from email:</span>
          <ol>
            <li><a href="#">123456AB1</a></li>
            <li><a href="#">123456BC1</a></li>
            <li><a href="#">123456CD1</a></li>
          </ol>
        </div>
    </div>
    <div class="panel panel-default">
      <table class="table table-bordered">
        <tr>
          <th>Attachments</th>
          <th>Location</th>
        </tr>
        <tr>
          <td>Request Doc</td>
          <td>X:\Users\A123456\Security Master\Store
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Body</b></div>
          <div class="panel-body">
            <p>Panel content</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>