div {
    font-size: small;
}

img {
    height: 18px;
    width: 18px;
}

label.contents {
    color: #00008b;
}

th {
    background-color: #d9edf7;
}

.body-heading {
    background-color: #d9edf7;
}